<html>
    <head>
        <title>Tic Tac Toe :)</title>
        <style>
          table {
            width: 300px;
            height: 300px;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    
  <body>
    <table>
     <tr><td></td><td></td><td></td><td></td></tr>
     <tr><td></td><td></td><td></td><td></td></tr>
     <tr><td></td><td></td><td></td><td></td></tr>
     <tr><td></td><td></td><td></td><td></td></tr>
    </table>
  </body>


</html>